@layer components {
  .site-header {
    background: var(--color-background-main);
    border-bottom: 1px solid var(--color-border-main);
    z-index: var(--z-index-header);
    color: var(--color-text-main);
    height: var(--header-height);
    display: flex;
    flex-direction: row;
    align-items: center;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
  }

  .site-header__menu-container {
    z-index: var(--z-index-nav-button);
    height: var(--header-height);
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    pointer-events: none;
    align-items: center;
    position: fixed;
  }

  .site-header__menu-inner {
    pointer-events: auto;
    display: flex;
    justify-content: flex-end;
  }

  .site-header__menu-placeholder {
    width: 44px;
    height: 44px;
  }

  .site-section-indicator {
    display: flex;
    align-items: center;
    gap: 1rem;
    font-family: var(--font-mono);
  }

  .site-section-indicator__title {
    font-size: var(--text-size-xsm);

    font-weight: 600;
    position: relative;

    letter-spacing: 0.06em;
  }

  .site-section-indicator__number {
    font-size: var(--text-size-xsm);

    font-weight: 300;
    position: relative;

    border-left: 1px solid var(--color-border-main);
    padding-left: 1rem;
  }
}
