@layer components {
  .c-image {
    display: block;
    transition: opacity 0.3s ease;
    opacity: 0;

    &.c-image--loaded {
      opacity: 1;
    }

    &.c-image--error {
      opacity: 0.5;
      filter: grayscale(100%);
    }
  }
}
