@layer components {
  .c-link {
    color: var(--color-text-contrast);
    position: relative;
    text-align: right;
    display: block;
    padding: 1rem 0;
    text-decoration: none;
    font-family: var(--font-mono);
    font-size: 1rem;
    font-weight: 400;
    line-height: normal;

    &::after {
      height: 2.5px;
    }
  }
  .c-link--active {
    font-weight: 600;
  }
}
