@layer components {
  .c-link {
    color: var(--color-text-contrast);

    position: relative;
    text-align: right;
    display: block;
    padding: 1rem 0;

    &::after {
      background: var(--color-text-contrast);
    }
  }

  .c-link--active {
    font-weight: 600;
  }
}
