@use '../tools';

@layer components {
  .c-note {
    @include tools.panel;
    border-left-width: 2px;
  }
  .c-note__header {
    @include tools.meta-text;
    margin-bottom: var(--panel-gap);
  }
  .c-text-note {
    max-width: 75ch;
  }
  .c-text-note + .c-text-note {
    margin-top: 0.75rem;
  }
}
