@layer components {
  .c-note {
    background: var(--color-white);
    border: 2px solid var(--color-text-main);
    padding: 2rem;
    position: relative;
    transition: all 0.3s ease;

    &::before {
      background: var(--color-text-main);
      content: '';
      position: absolute;
      top: -2px;
      left: -2px;
      width: 30px;
      height: 30px;
      transition: all 0.4s cubic-bezier(0.68, -0.55, 0.265, 1.55);
    }

    &:hover {
      border-color: var(--color-accent);

      &::before {
        background: var(--color-accent);
        transform: rotate(180deg) scale(1.2);
      }
    }
  }

  .c-note__header {
    font-size: var(--text-size-xlg);
    color: var(--color-text-main);
    text-transform: uppercase;
    letter-spacing: 1px;
    margin-bottom: 1rem;
    font-weight: 600;
  }

  .c-text-note {
    color: var(--color-text-main);

    &:last-child {
      margin-bottom: 0;
    }
  }
}
