@layer generic {
  html {
    font-size: var(--text-size-md);
    scroll-behavior: smooth;
    touch-action: manipulation;

    @media (max-width: 419px) {
      font-size: var(--text-size-sm);
    }
  }

  body {
    min-height: 100vh;
    font-family: var(--font-main);
    background-color: var(--color-background-main);
    color: #000;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
}
