@use '../tools';

@layer generic {
  * {
    touch-action: manipulation;

    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }

  *,
  *::before,
  *::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }

  :focus-visible {
    @include tools.focus-ring;
  }
}
