@layer generic {
  *,
  *::before,
  *::after {
    box-sizing: border-box;
  }

  html,
  body,
  #app {
    min-height: 100%;
  }

  html {
    scroll-behavior: smooth;
    scroll-padding-top: calc(var(--layout-header-height) + var(--sp-4));
  }

  body,
  h1,
  h2,
  h3,
  p,
  dl,
  dd {
    margin: 0;
  }

  img,
  svg {
    display: block;
    max-width: 100%;
  }

  button,
  a {
    -webkit-tap-highlight-color: transparent;
  }
}
