$color-white: #f7f7f2;
$color-dark: #171717;
$color-accent-cool: #8eaabb;
$color-accent: #bbc3c4;
$color-accent-warm: #d2c6b0;
$color-signal-cool: #58b9c0;
$color-signal-warm: #d58c64;
$color-muted: #5f5f5c;
$color-muted-contrast: #a8a8a2;
$color-background-main: $color-white;
$color-background-contrast: $color-dark;
$color-text-main: $color-dark;
$color-text-muted: $color-muted;
$color-text-contrast: $color-white;
$color-text-muted-contrast: $color-muted-contrast;
$color-border-main: $color-dark;
$color-rule-main: rgb(23 23 23 / 16%);
$color-rule-contrast: rgb(247 247 242 / 22%);
