$color-white: #ffffff;
$color-dark: #121212;
$color-gray: #424242;
$color-accent: #c10303;
$color-background-main: $color-white;
$color-background-contrast: $color-dark;
$color-text-main: $color-dark;
$color-text-contrast: $color-white;
$color-text-secondary: $color-gray;
$color-text-accent: $color-accent;
$color-border-main: $color-dark;
