$color-white: #f7f7f2;
$color-dark: #171717;
$color-gray: #595954;
$color-cyan: #a8dfe0;
$color-lilac: #c4afe9;
$color-pink: #dfa9cb;
$color-accent: $color-lilac;
$color-background-main: $color-white;
$color-background-contrast: $color-dark;
$color-text-main: $color-dark;
$color-text-contrast: $color-white;
$color-text-secondary: $color-gray;
$color-text-accent: $color-dark;
$color-border-main: $color-dark;
$color-border-subtle: #c9c9c1;
