$text-size-xlg: 1.25rem;
$text-size-lg: 1.125rem;
$text-size-md: 1rem;
$text-size-sm: 0.875rem;
$text-size-xsm: 0.75rem;
$font-main: 'Helvetica Neue', Helvetica, Arial, sans-serif;
$font-mono: 'Roboto Mono', 'SFMono-Regular', Consolas, monospace;
