$max-width: 1920px;
$min-width: 320px;
$header-height: clamp(52px, 8vw, 99px);

$color-white: #ffffff;
$color-dark: #121212;

$shadow-default: rgba(0, 0, 0, 0.075) 0px 0.125rem 0.25rem;

$color-background: $color-white;
$color-text-dark: $color-dark;
$color-text-contrast: $color-white;

$shadow-header: $shadow-default;

$font-main: 'Roboto Mono', monospace;