name: Terraform 

on:
  workflow_call:
    inputs:
      tf_command:
        type: string

    secrets:
      aws_secret_key:
        required: true
      aws_access_key:
        required: true
      aws_region: 
        required: true

      aws_backend_bucket:
        required: true
      aws_backend_region:
        required: true
      aws_backend_key:
        required: true

      acm_crt:
        required: true
      bucket_name:
        required: true

jobs:
  tf-command:
    name: Tf Command
    runs-on: ${{ vars.RUNS_ON }}

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Invoke
        uses: Mad-Pixels/github-workflows/actions/aws-terraform-runner@dev3
        with:
          aws_access_key_id:     ${{ secrets.aws_access_key }}
          aws_secret_access_key: ${{ secrets.aws_secret_key }}
          aws_region:            ${{ secrets.aws_region }}

          backend_bucket:        ${{ secrets.aws_backend_bucket }}
          backend_key:           ${{ secrets.aws_backend_key }}
          backend_region:        ${{ secrets.aws_backend_region }}

          tf_dir:                terraform
          tf_command:            ${{ inputs.tf_command }}
          tf_vars: >-
            -var acm_crt=${{ secrets.acm_crt }}
            -var bucket_name=${{ secrets.bucket_name }}
